*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(53, 47, 91);
    color: #fff;
}

.container{
    width: 90%;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.task{
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: rgba(255,255,255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    margin-left: 4px;
}

.icon:hover{
    transform: scale(1.2);
}

.fa-star,.fa-trash{
    opacity: 0.4;
}

.fa-star:hover{
    color: orange;
    opacity: 1;
}

.fa-heart:hover{
    color: rgb(255, 0, 0);
    opacity: 1;
}

.fa-frown-o:hover{
    color: rgb(255, 225, 0);
    opacity: 1;
}

.fa-trash:hover{
    color: black;
    opacity: 1;
}

h2{
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
}

form{
    text-align: center;
    margin-top: 20px;
}

form input{
    padding: 5px;
    width: 80%;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

button{
    all:unset;
}

#btn{
    width: 50px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#btn:hover{
    transform: scale(1.2);
    color: rgb(148, 143, 143);
}

.dp{
    display: none;
}

.del{
    text-decoration:line-through;
    font-weight: bold;
    color: #af3232;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .container{
        width: 80%;
    }
    
    form input{
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .container{
        width: 90%;
    }
    
    form input{
        width: 100%;
    }
    
    h2{
        font-size: 24px;
    }
    
    #btn{
        width: 40px;
        padding: 8px;
        font-size: 18px;
    }
}